// Variables
@import "../../assets/scss/theme/variables/block-index";
@import "../../assets/scss/theme/base/mixins";

.section-gallery {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7.3rem 0 9.5rem;

  &.bottom {
    .images-wrapper--container {
      display: block;
    }
  }

  @media (max-width: $lg) {
    padding: 5rem 0;
  }

  &--title {
    margin-bottom: 8rem;
    text-align: center;

    @media (max-width: $lg) {
      margin-bottom: 5rem;
    }
    h2 {
      margin-bottom: 1.4rem;
      strong {
        color: $primary;
      }
    }

    p {
      max-width: 74.9rem;
      margin: 0 auto;
    }
  }

  .slider {
    img {
      width: 100%;
      display: block;
    }

    .images-wrapper {
      position: relative;

      &--arrows {
        position: absolute;
        cursor: pointer;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        transition: all ease-in-out 280ms;

        svg {
          width: 4.2rem;
          height: 7.4rem;
          @media (max-width: $md) {
            width: 100%;
            height: 3rem;
          }
        }

        &.arrow-prev {
          left: 0;
        }

        &.arrow-next {
          right: 0;
        }
      }

      &--large {
        overflow: hidden;
        position: relative;
        width: 100%;
        aspect-ratio: 5/3;
        border-radius: 6rem;

        @media (max-width: $lg) {
          border-radius: 3rem;
        }

        img {
          position: absolute;
          inset: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: transform 1s;
          object-fit: cover;
        }
      }

      &--container {
        display: none;
        overflow: hidden;
        width: 100%;
        margin-top: 1.9rem;

        &-small {
          display: flex;
          gap: 1.9rem;
          align-items: center;

          img {
            width: 18.9rem;
            height: 12.6rem;
            cursor: pointer;
            flex-shrink: 0;
            object-fit: cover;
            border-radius: 1.6rem;
          }
        }
      }

      &--open-image {
        cursor: pointer;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: rgba(0, 0, 0, 0.33);
        backdrop-filter: blur(12px);
        height: 6.6rem;
        padding: 0 2.8rem;
        border-bottom-left-radius: 6rem;
        border-bottom-right-radius: 6rem;

        @media (max-width: $lg) {
          border-bottom-left-radius: 3rem;
          border-bottom-right-radius: 3rem;
          height: 3rem;
          padding: 0 1.4rem;
        }

        p {
          font-size: 2rem;
          line-height: 3.2rem;

          @media (max-width: $lg) {
            font-size: 1.4rem;
            line-height: 1;
          }
        }

        svg {
          width: 23px;
          height: 23px;

          @media (max-width: $lg) {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }

  .image-modal-modal-wrapper {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s ease-in;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    .image-modal {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;

      img {
        aspect-ratio: 9/9;
        width: 85%;
        object-fit: cover;
        @media screen and (min-width: $md) {
          aspect-ratio: 16/9;
          width: 95%;
        }
        @media screen and (min-width: $xl) {
          width: 75%;
        }
      }

      svg {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 24px;
        right: 72px;
        right: calc(100vw - 85%);
        z-index: 3;
        cursor: pointer;

        @media screen and (min-width: $md) {
          width: 35px;
          height: 35px;
          right: calc(100vw - 95%);
        }

        @media screen and (min-width: $xl) {
          right: calc(100vw - 85%);
        }
      }
    }
  }

  &.open-image-modal {
    .image-modal-modal-wrapper {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
    }
  }

  //   .empty-section {
  //     background-color: rgba(8, 52, 98, 1);
  //     width: 100%;
  //     height: 219px;
  //     z-index: 1;
  //     margin-top: -148px;
  //   }
}
