// Variables
@import "../../assets/scss/theme/variables/block-index";
@import "../../assets/scss/theme/base/mixins";

.section-text-image {
  display: flex;

  @media (max-width: $lg) {
    flex-direction: column;
  }

  &-left {
    position: relative;
    width: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    > div {
      padding: 12.5rem 5.9rem 17.6rem
        max(2rem, calc((100vw - 148rem) / 2 + 2rem));

      @media (max-width: $lg) {
        padding: 12.5rem 2rem 17.6rem
          max(2rem, calc((100vw - 148rem) / 2 + 2rem));
      }

      @media (max-width: $md) {
        padding: 5rem 2rem 5rem max(2rem, calc((100vw - 148rem) / 2 + 2rem));
      }
    }

    @media (max-width: $lg) {
      width: 100%;
    }

    h2 {
      margin-bottom: 1.4rem;
      z-index: 2;
      position: relative;
    }

    p {
      z-index: 2;
      position: relative;
      margin-bottom: 0;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &::after {
      content: "";
      background-color: $primary;
      position: absolute;
      inset: 0;
      z-index: 1;
      mix-blend-mode: multiply;
    }
  }

  &-right {
    width: 50%;
    @media (max-width: $lg) {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 960/683;
      object-fit: cover;
    }
  }
}
