// Variables
@import "../../assets/scss/theme/variables/block-index";
@import "../../assets/scss/theme/base/mixins";

.section-hero {
  &--wrapper {
    padding: 9.9rem 0 14.4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: $lg) {
      padding: 5rem 0;
    }

    h1 {
      margin-bottom: 1.6rem;
      max-width: 83.3rem;
      width: 100%;
    }

    p {
      margin-bottom: 4.3rem;
      max-width: 55.5rem;
      width: 100%;
    }

    .horeca-btn {
      max-width: 17rem;
      width: 100%;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
