.bottom-buttons {
  z-index: 5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;

  @media (max-width: $xs) {
    bottom: 2.3rem;
  }

  svg {
    @media (max-width: $lg) {
      width: 5rem;
      height: 5rem;
    }
  }

  .bottom-button {
    cursor: pointer;
  }
}
