.small-cookie-consent {
    z-index: 99999999999;
    background-color: rgba(#333, .2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .content-wrapper {
        width: 420px;
        max-width: calc(100% - 30px);
        background-color: $background;
        color: $text;
        position: fixed;
        right: 15px;
        bottom: 25px;
        @include box-shadow(0, 14px, 141px, .16);

        .message {
            padding-bottom: 1.2rem;

            a {
                color: $text;
                text-decoration: none;
                transition: opacity ease-in-out 280ms;

                &:hover {
                    color: $title;
                    opacity: .85;
                }
            }
        }

        .btn {
            width: 50%;
            min-width: 120px;
        }

        .btn-outline-primary {
            color: $primary;

            &:hover {
                color: $white;
            }
        }

        @media only screen and (min-width: 1200px) {
            right: 25px;
        }
    }
}

.cookie-consent {
    z-index: 99999999999;
    background-color: rgba(#333, .2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .content-wrapper {
        width: 660px;
        margin: auto;
        max-width: calc(100% - 30px);
        background-color: $light;
        @include box-shadow(0, 14px, 141px, .16);

        .copy {
            margin-bottom: 16px;

            .header {
                font-size: 1.4rem;
                margin-top: 0;
            }
        }
    
        .message {
            * {
                font-size: 90%
            }
        }

        .content {
            max-height: 40vh;
            overflow-y: auto;

            .item {
                padding: 1.2rem;
                background-color: $white;
                margin-bottom: 1.2rem;

                .form-switch {
                    padding-left: 0;
                }

                .left {
                    padding-right: 36px;

                    .arrow {
                        position: relative;
                        padding-right: 1.8rem;
                
                        &::after {
                            content: '';
                            position: absolute;
                            top: 5px;
                            right: .9rem;
                            width: 8px;
                            height: 8px;
                            border-right: 1px solid rgba(#333, 65%);
                            border-bottom: 1px solid rgba(#333, 65%);
                            transform: rotate(45deg);
                            transition: transform ease-in-out 480ms, top ease-in-out 480ms, border-color ease-in-out 280ms,;
                            cursor: pointer;
        
                            &:hover {
                                border-color: #333;
                            }
                        }
                    }
                }
   
                .form-check-label {
                    color: #333;
                }
                
                .description {
                    display: none;
                }
        
                &.extended {
                    .description {
                        display: block;
                    }
        
                    .left {
                        .arrow {
                            &::after {
                                transform: rotate(-135deg);
                                top: 10px;
                            }
                        }
                    }
                }
            }
        }

        .btn-outline-primary {
            color: $primary;

            &:hover {
                color: $white;
            }
        }

        @media only screen and (max-width: 1200px) {
            .btn {
                &.accept,
                &.reject {
                    width: 50%;
                    min-width: 120px;
                }

                &.save {
                    width: 100%;
                }
            }
        }
    }
}
