body.ba {
    // Image
    img,
    svg,
    picture { 
        &:not(.icon, .svg-inline--fa) {
            max-width: 100%;
            height: auto;
        }

        &.img-rounded {
            border-radius: 5px;
        }

        &.img-shadow {
            @include box-shadow();
        }
    }

    .img-bg {
        position: relative;

        .img-wrapper {
            width: 100%;
            right: -14px;
            max-width: 80vw;
            height: 85%;
            background: $border;
            position: absolute;
            bottom: 12px;
            z-index: -1;
            border-radius: 5px;

            @media only screen and (min-width: $md) {
                width: calc(100% - 45px - 4.8rem);
                right: 25px;
            }
        }
    }
}
