.theme-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background: rgba($black, 45%);

    .theme-modal-container {
        position: relative;
        width: 640px;
        max-width: 90vw;
        max-height: 90vh;
        background: $background;
        padding: 2.8rem 1rem 2.8rem 1.2rem;
        border-radius: 6px;
    
        @media only screen and (min-width: $md) {
            padding: 2.8rem 2rem 2.8rem 2.2rem;
            max-height: 80vh;
        }

        .modal-close {
            position: absolute;
            top: 1.2rem;
            right: 1.2rem;
            opacity: 0.45;
            width: 30px;
            height: 30px;
            text-align: center;
            transition: opacity ease-in-out 280ms;
            cursor: pointer;

            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 80%;
                height: 2px;
                border-radius: 3px;
                background-color: $text;
                transform: rotate(45deg);
            }

            &::before {
                transform: rotate(-45deg);
            }

            &:hover {
                opacity: 0.85;
            }
        }

        .theme-modal-body {
            height: 100%;
            max-height: calc(90vh - 5.6rem);
            padding-right: .2rem;
            overflow-y: auto;

            /* width */
            &::-webkit-scrollbar {
                width: 6px;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
                background: rgba($title, 10%); 
                border-radius: 3px;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $text;
                border-radius: 3px;
            }
            
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: $title; 
            }
        
            @media only screen and (min-width: $md) {
                max-height: calc(80vh - 5.6rem);
            }

            .modal-title {
                margin-top: 0;
                margin-bottom: 1rem;
                text-transform: none;
            }
        }
    }

    &.show {
        display: flex;
        justify-content: center;
        align-items: center;

        .theme-modal-container {
            animation: modal 360ms 1;
        }
    }

    &.success {
        .theme-modal-container {
            .theme-modal-body {
                .modal-title {
                    color: $success;
                }
            }
        }
    }

    &.alert, 
    &.error {
        .theme-modal-container {
            .theme-modal-body {
                .modal-title {
                    color: $danger;
                }
            }
        }
    }
}
