.search {
    &.search-form {
        .form-control {
            border-radius: 50px 0 0 50px;
            max-width: calc(100% - 55px);
        }

        .btn {
            max-width: 55px;
        }
    }
}