.single-pagination {
    padding-bottom: 1rem;
    padding-top: 1rem;

    .next {
        text-align: end;
    }

    .h3 {
        margin-bottom: 0;
    }

    a {
        display: inline-block;
    }
}
