// Variables
@import "../../assets/scss/theme/variables/block-index";
@import "../../assets/scss/theme/base/mixins";

.section-about-hero {
  padding: 8.1rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: $lg) {
    padding: 5rem 0;
  }

  &--text-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9.1rem;
    gap: 2rem;

    @media (max-width: $lg) {
      margin-bottom: 5rem;
      flex-direction: column-reverse;
    }

    .description {
      width: 50%;

      @media (max-width: $lg) {
        width: 100%;
      }

      h1 {
        margin-bottom: 2.4rem;

        @media (max-width: $lg) {
          margin-bottom: 2rem;
        }
        strong {
          color: $purple-100;
        }
      }
    }

    .image {
      max-width: 62.9rem;
      width: 50%;
      aspect-ratio: 629/459;

      @media (max-width: $lg) {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3.2rem;
      }
    }
  }

  &--text-text {
    display: flex;
    justify-content: space-between;
    background-color: $dark-200;
    padding: 4.8rem 5.8rem 5.4rem 5.6rem;
    border-radius: 2rem;
    border: 1px solid $white-300;
    position: relative;
    margin-bottom: 8rem;

    @media (max-width: $lg) {
      flex-direction: column;
      padding: 2rem;
      margin-bottom: 5rem;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white-200;
      height: 15.3rem;
      width: 2px;
      top: 50%;

      @media (max-width: $lg) {
        display: none;
      }
    }

    div {
      max-width: 57.8rem;
      width: 100%;

      &:first-child {
        @media (max-width: $lg) {
          padding-bottom: 3rem;
          border-bottom: 2px solid $white-200;
        }
      }

      &:last-child {
        @media (max-width: $lg) {
          padding-top: 3rem;
        }
      }

      @media (max-width: $lg) {
        max-width: 100%;
      }
    }
  }

  h3 {
    font-weight: 800;
    font-size: 8rem;
    line-height: 9.4rem;
    text-align: center;

    @media (max-width: $xxl) {
      font-size: 6rem;
      line-height: 6.4rem;
    }

    @media (max-width: $xl) {
      font-size: 5rem;
      line-height: 5.2rem;
    }

    @media (max-width: $lg) {
      font-size: 3.8rem;
      line-height: 4.2rem;
    }

    strong {
      color: $purple-100;
    }
  }
}
