// Defaults

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body.stellahoreca {
  min-height: 100vh;
  background: $background;
  color: $white;
  font-family: $text-font;
  font-size: $font-size;
  font-weight: $font-weight-base;
  line-height: $line-height-base;

  &.freez {
    overflow: hidden;
  }

  &.admin-bar {
    .navigation-section {
      top: 32px;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background: $background;
}

::-webkit-scrollbar-thumb {
  background: $border;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}

a {
  text-decoration: none;
  display: inline-block;
  color: $white;
}

p {
  font-size: 1.8rem;
  line-height: 3rem;

  @media (max-width: $lg) {
    margin-bottom: 2.15rem;
    font-size: 1.6rem;
  }
}

img {
  display: block;
}
