// Defaults

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body.stellahoreca {
  min-height: 100vh;
  background: $background;
  color: $white;
  font-family: $text-font;
  font-size: $font-size;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  position: relative;
  overflow-x: hidden;

  &.freez {
    overflow: hidden;
  }

  &.admin-bar {
    .navigation-section {
      top: 32px;
    }
  }

  &.open-image-modal {
    overflow: hidden;
  }

  &.menu-open {
    overflow: hidden;

    .middle-nav {
      transform: translateX(0);
    }

    .hamburger {
      span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background: $background;
}

::-webkit-scrollbar-thumb {
  background: $border;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}

a {
  text-decoration: none;
  display: inline-block;
  color: $white;
}

p {
  font-size: 1.8rem;
  line-height: 3rem;

  @media (max-width: $lg) {
    line-height: 2.15rem;
    font-size: 1.6rem;
  }
}

img {
  display: block;
}

ul {
  list-style: none;
}

.animated {
  opacity: 0;
  transition:
    opacity 680ms ease-in-out,
    transform 680ms ease-in-out,
    -webkit-transform 680ms ease-in-out;

  &.left-to-right {
    transform: translateX(-20vw);
  }
  &.right-to-left {
    transform: translateX(20vw);
  }
  &.bottom-to-top {
    transform: translateY(-120px);
  }
  &.top-to-bottom {
    transform: translateY(50px);
  }
  &.in-view {
    opacity: 1;
    transform: translateX(0);
  }

  &.fade-in {
    opacity: 1;
    &:not(.in-view) {
      opacity: 0;
      transition: opacity 350ms ease-in-out;
    }
  }
}
