/*
Theme: StarterTheme
Author Boldizar Santo (boldizar.santo@gmail.com)
Website: startertheme.com
*/

// Variables
@import 'theme/variables/index';

// Import Bootsrap style
@import '../../node_modules/bootstrap/scss/bootstrap';

// Import custom style
@import 'theme/base/index';
@import 'theme/sections/index';
@import 'theme/components/index';
