
// Breakpoints
$xs: 0;
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1200px;
$xxl: 1400px;

// Break points
$grid-breakpoints: (
    xs: 0,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl,
    xxl: $xxl
);
