// Breakpoints
$xs: 0;
$iphone: 420px;
$sm: 540px;
$md: 720px;
$lg: 991px;
$xl: 1200px;
$xxl: 1400px;

// Break points
$grid-breakpoints: (
  xs: 0,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
);
