// Button 
$input-btn-padding-y: 14px;
$input-btn-padding-x: 28px;
$btn-padding-x-sm: 15px;
$btn-border-radius: 50px;
$btn-border-radius-sm: 50px;
$btn-font-weight: light;
$btn-font-size: $font-size;
$hr-border-width: 0.5px;
