// Static theme colors
$static-white: #fff;
$static-black: #222;
$static-light-title: #333;
$static-light-text: #36334A;
$static-dark-text: #e2e2e2ff;
$static-dark-title: #fefefe;

// Theme colors
$primary: #447821;
$primary-hover: #375c1e;
$secondary: #FFCC00;
$secondary-hover: #ffbf0e;
$gold: #F4AD17;
$success: #3acc6c;
$danger: #dd5555;
$info: #3994df;

// Grayscales
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// Basics
$light: #f9f9f9;
$background: #fefefe;
$title: #333;
$text: #36334A;
$border: #e9ecef;
$gray: #343a40;

// Other values
$shadow-opacity: 0.045;
