h1,
.h1 {
  font-weight: 800;
  font-size: 8rem;
  line-height: 9.4rem;

  @media (max-width: $xl) {
    font-size: 6rem;
    line-height: 7.2rem;
  }

  @media (max-width: $lg) {
    font-size: 4.8rem;
    line-height: 5.8rem;
  }

  @media (max-width: $sm) {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
}

h2 {
}

h3 {
}

h4 {
}
