// Import default variables
@import 'break-points';
@import 'typography';

// Color switcher colors
// @import 'light-colors';
// @import 'dark-colors';
// @import 'color-switcher-colors';

// Colors witouth color switcher
@import 'colors';

// Other variables
@import 'headings';
@import 'alerts';
@import 'buttons';
@import 'forms';
@import 'modal';
@import 'settings';
@import 'tables';
