// Color variables
:root {
    // Light theme colors
    --var-light: #f9f9f9;
    --var-background: #fefefe;
    --var-title: #333;
    --var-text: #4d4d4d;
    --var-border: #e9ecef;
    --var-gray: #343a40;
    --var-highlight: #fff2c6;

    // Grayscales
    --var-white: #fff;
    --var-gray-100: #f8f9fa;
    --var-gray-200: #e9ecef;
    --var-gray-300: #dee2e6;
    --var-gray-400: #ced4da;
    --var-gray-500: #adb5bd;
    --var-gray-600: #6c757d;
    --var-gray-700: #495057;
    --var-gray-800: #343a40;
    --var-gray-900: #212529;
    --var-black: #000;

    // Others
    --var--shadow-opacity: 0.045;
}
