// Settings
$grid-gutter-width: 28px;
$grid-row-columns: 6 !default;

// Options
$enable-responsive-font-sizes:  true;
$enable-validation-icons: false;
 
// Body;
$link-decoration: none;
$link-hover-color: $primary;
$link-hover-decoration: underline;
