.section-catalog {
  background-color: $black;
  padding: 9.3rem 0 11.2rem;
  text-align: center;

  @media (max-width: $lg) {
    padding: 5rem 0;
  }

  p {
    padding: 0 8.6rem;
    margin-bottom: 9.1rem;

    @media (max-width: $lg) {
      padding: 0;
      margin-bottom: 2rem;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6.3rem;
    background-color: $white;
    padding: 1.9rem 2.8rem 1.8rem 1.8rem;

    @media (max-width: $lg) {
      display: block;
      padding: 2rem;
    }

    div {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      gap: 1.8rem;
      font-weight: 800;
      font-size: 2.1rem;
      line-height: 1;
      color: $black;

      @media (max-width: $lg) {
        font-size: 1.8rem;
        justify-content: center;
        margin-bottom: 1.5rem;
      }

      svg {
        @media (max-width: $lg) {
          display: none;
        }
      }
    }

    .horeca-btn {
      height: 4.7rem;

      @media (max-width: $lg) {
        margin: 0 auto;
      }
    }
  }
}
