.header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid $dark-300;
  z-index: 15;
  position: relative;

  @media (max-width: $lg) {
    position: relative;
    z-index: 10;
    padding: 2.3rem 0;
  }

  &--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .middle-nav {
      display: flex;
      align-items: center;
      gap: 8.7rem;
      transition: $transition;

      @media (max-width: $xxl) {
        gap: 5rem;
      }

      @media (max-width: $xl) {
        gap: 1.6rem;
      }

      @media (max-width: $lg) {
        position: fixed;
        top: 11.9rem;
        display: flex;
        flex-direction: column;
        background: $black;
        width: 100%;
        height: 100%;
        left: 0;
        transform: translateX(-100%);
      }

      .theme-menu-content {
        @media (max-width: $lg) {
          width: 100%;
        }
      }

      ul {
        display: flex;
        gap: 8.7rem;

        @media (max-width: $xxl) {
          gap: 5rem;
        }

        @media (max-width: $xl) {
          gap: 1.6rem;
        }

        @media (max-width: $lg) {
          flex-direction: column;
          gap: 0;
        }

        li {
          padding: 4.1rem 0;
          position: relative;

          @media (max-width: $lg) {
            border-bottom: 2px solid $dark-300;
          }

          &.menu-item-has-children {
            &.submenu-open {
              .sub-menu {
                display: flex;
              }
            }

            position: relative;

            &:hover {
              .sub-menu {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                z-index: 20;
              }
            }

            &::after {
              content: "";
              position: absolute;
              left: 0;
              top: 100%;
              width: 100%;
              height: 2rem;
              pointer-events: auto;
              background: transparent;

              @media (max-width: $lg) {
                display: none;
              }
            }
          }

          a {
            @media (max-width: $lg) {
              padding: 0 2rem;
            }
          }

          .sub-menu {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 18.2rem !important;
            background-color: $white;
            border-radius: 1rem;
            gap: 0;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            top: 8.7rem;
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
            transition: $transition;
            overflow: hidden;

            @media (max-width: $lg) {
              visibility: visible;
              transform: translateX(0);
              left: 0;
              opacity: 1;
              background-color: transparent;
              position: static;
              text-align: left;
              padding-left: 2rem;
              display: none;
            }

            li {
              padding: 0;

              @media (max-width: $lg) {
                border-bottom: none !important;
              }

              &:not(:last-child) {
                a {
                  border-bottom: 1px solid $orange-100;

                  @media (max-width: $lg) {
                    border-bottom: none !important;
                  }
                }
              }
            }

            a {
              color: $dark-400;
              transition: $transition;
              padding: 2rem 0;
              width: 100%;

              &:hover {
                background-color: $primary;
                color: $white;
              }

              @media (max-width: $lg) {
                &:hover {
                  color: $primary;
                  background-color: transparent;
                }
              }
            }
          }

          &.current-menu-item {
            position: relative !important;
            a {
              @media (max-width: $lg) {
                color: $primary;
              }
            }

            &::after {
              content: "";
              position: absolute;
              bottom: -3px;
              background-color: $primary;
              width: 100%;
              height: 3px;
              left: 0;

              @media (max-width: $lg) {
                display: none;
              }
            }
          }
        }
      }
    }

    .social-contact-wrapper {
      display: flex;
      gap: 3rem;
      align-items: center;

      @media (max-width: $xxl) {
        gap: 1.6rem;
      }

      @media (max-width: $lg) {
        padding: 0 2rem;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
      }

      .social-media-links {
        gap: 2.1rem;

        svg {
          width: 1.85rem;
          height: 1.85rem;
        }
      }

      .horeca-btn {
        height: 5rem;
        max-width: 100%;
        padding: 0 2.6rem;
        font-weight: 700;
        line-height: 19.8px;
        letter-spacing: 0%;

        @media (max-width: $lg) {
          max-width: 20rem;
        }
      }
    }
  }
}
