// Arrow function
@mixin arrowAfter() {
    &:after {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        border: 2px solid $text;
        border-top: none;
        border-left: none;
        transform: rotate(45deg);
        position: absolute;
        top: 35px;
        right: 35px;
        transition: all ease-in-out 280ms;

        @media only screen and (min-width: $lg) {
            top: 12px;
            right: 0;
        }
    }
}

// Navbar section
.navigation-section {
    z-index: 1024;
    position: fixed;
    background-color: $white;
    transition: transform ease-in-out 280ms, background-color ease-in-out 280ms;
    font-weight: 500;
    padding: .6rem 0;
    width: 100%;
    top: 0;

    &.hide {
        &:not(.open) {
            transform: translateY(-240px);
        }
    }

    &.show {
        transform: translateY(0px);
    }

    &.active {
        background-color: $white;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .sub-menu {
        .sub-menu {
            padding-left: .6rem;
        }
    }

    .navigation {
        display: block;

        .theme-menu-wrapper {
            transition: all ease-in-out 280ms;

            @media only screen and (max-width: $lg) {
                transform: translateX(-100%);
                position: fixed;
                top: 57px;
                left: 0;
                width: 100%;
                height: 100%;
                min-height: calc(100vh - 57px);
                background: $background;
                overflow-y: auto;

                .theme-menu-content {
                    padding-top: 1.2rem;
                }

                .nav-buttons {
                    padding: 2.4rem 0;
                }
            }

            .theme-menu-content {
                & > ul {
                    & > .menu-item {
                        display: inline-block;
                        padding: .6rem .3rem;
                        @media only screen and (max-width: $lg) {
                            display: block;
                            width: 100%;
                            border-bottom: 1px solid $border;
                            padding: 1.2rem;
                        }
                        &:hover {
                            & > a {
                                color: $primary-hover;
                            }
                        }
                    }
                    & > .menu-item-has-children { 
                        position: relative;
                        @media only screen and (max-width: $lg) {
                            padding-right: 17px;
                            @include arrowAfter();
                        }
                        & > a {
                            position: relative;
                            @media only screen and (min-width: $lg) {
                                padding-right: 26px;
                                @include arrowAfter();
                            }
                        }
                        &:hover {
                            .sub-menu {
                                display: block;
                            }
                            & > a {
                                color: $primary-hover;
                                &::after {
                                    border-color: $primary-hover;
                                    transform: rotate(225deg);
                                    top: 16px;
                                }
                            }
                        }
                        & > .sub-menu {
                            transition: all ease-in-out 280ms;
                            display: none;
                            padding-top: .8rem;
                            @media only screen and (min-width: $lg) {
                                border: 1px solid $border;
                                @include box-shadow();
                                position: absolute;
                                top: 2.8rem;
                                left: 0;
                                padding: 1.2rem;
                                min-width: 360px;
                                background: $background;
                            }
                            .menu-item {
                                display: block;
                                a { 
                                    display: block;
                                    text-transform: none;
                                    width: 100%;
                                    padding: 0.8rem 0.4rem;
                                }
                                &:hover { 
                                    a {
                                        color: $primary-hover;
                                    }
                                }
                            }
                        }
                    }
                }

                .menu-item {
                    a {
                        padding: 0.3rem;
                        display: inline-block;
                        color: $text;

                        &:hover {
                            color: $primary-hover;
                            text-decoration: none;
                        }
                    }
                    @media only screen and (min-width: $lg) {
                        &::after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 2px;
                            background: $primary-hover;
                            transition: all ease-in-out 280ms;
                            max-width: 120px;
                        }
                        &:hover {
                            &::after { width: 100%; }
                        }
                    }
                    &.current-menu-parent,
                    &.current-menu-item {
                        & > a {
                            color: $primary;
                            &::after {
                                border-color: $primary;
                            }
                            &:hover {
                                &::after {
                                    border-color: $primary-hover;
                                }
                            }
                        }
                        @media only screen and (min-width: $lg) {
                            &::after {
                                width: 100%;
                                background: $primary;
                            }
                            &:hover {
                                &::after {
                                    background: $primary-hover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .navigation {
        display: flex;
        justify-content: space-between;

        .left-nav {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: auto;

            @media only screen and (max-width: $lg) {
                display: flex;
                justify-content: flex-start;
            }

            .nav-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 3px 16px 3px 0;

                @media only screen and (max-width: $lg) {
                    width: auto;
                }

                .home-link {
                    .site-logo {
                        width: auto; 
                        height: auto; 
                        max-width: 148px;
                        max-height: 46px;
                    }
                }
            }
        }

        .middle-nav {
            width: 100%;
        }

        .right-nav {
            .language-switcher {
                color: $text;
            }
        }

        .menu-toggle {
            flex-direction: column;
            width: 40px;
            cursor: pointer;

            &.right {
                align-items: flex-end;
            }
          
            .bar {
                background: $title;
                border-radius: 10px;
                height: 3px;
                margin: 5px 0;
                transition: 480ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
        
                &:nth-of-type(1) {
                    width:50%;    
                }
                
                &:nth-of-type(2) {
                    width:100%;
                }
                
                &:nth-of-type(3) {
                    width:75%;   
                }
            }
            
            .burger-check {
                display: none;
            }
        }
    
        &.open {
            .menu-toggle {
                .bar {
                    &:nth-of-type(2) {    
                        transform-origin: top;
                        transform: rotatez(-45deg);
                    }
                }

                &:not(.right) {
                    .bar {
                        &:nth-of-type(1) {
                            transform-origin:bottom;
                            transform:rotatez(45deg) translate(6px, 2px);
                        }
                        &:nth-of-type(3){    
                            transform-origin:bottom;
                            width:50%;
                            transform: translate(16px,-8px) rotatez(45deg);
                        }
                    }
                }

                
                &.right {
                    .bar {
                        &:nth-of-type(1) {
                            transform-origin:bottom;
                            transform:rotatez(45deg) translate(-8px, 16px);
                        }
                        &:nth-of-type(3){    
                            transform-origin:bottom;
                            width:50%;
                            transform: translate(-4px,-8px) rotatez(45deg);
                        }
                    }
                }
            }

            .theme-menu-wrapper {
                z-index: 1;
                transform: translateX(0);
            }
        }
    }

    .site-title {
        font-size: 2rem;
        padding: 0.5rem;
        margin-bottom: 0;
    }

    .mobile-logo-svg {
        max-width: 160px;
    }
}
