.inline-related-post {
    margin-bottom: 1rem;
    padding: 0.5rem 0;

    .h2 {
        margin: 0;
        font-size: 1rem;

        .post-title {
            text-transform: none;
            color: $text;

            &:hover {
                color: $primary;
            }
        }
    }
}

.related-posts-container {
    padding: 1.5rem 0;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;

    & > .h1 {
        text-transform: uppercase;
        color: $text;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .related-posts {
        .nop {
            max-width: calc(33.33% - 7px);
            @media only screen and (min-width: $sm) and (max-width: $lg) {
                max-width: calc(50% - 7px);
                &:nth-child(3) {
                    display: none;
                }
            }

            @media only screen and (max-width: $xs) {
                width: 100%;
                max-width: 100%;
                margin-bottom: 1rem;
            }
        }
        .related-post {
            position: relative;
            .link {
                position: absolute; 
                top: 0; 
                left: 0;
                height: 100%; 
                width: 100%;
            }
            .middle {
                transition: all ease-in-out 480ms;
                @media only screen and (min-width: $md) {
                    opacity: 0;
                }
                position: absolute; 
                top: 0; 
                left: 0;
                height: 100%; 
                width: 100%;
                padding: 1rem;
                text-align: center;
                background: rgba(20,20,20,0.85);
                .content {
                    .h1 {
                        font-size: 1rem;
                        text-transform: uppercase;
                    }
                    .categories {
                        @media only screen and (max-width: $lg) {
                            display: none;
                        }
                        a { 
                            color: #fff;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
            &:hover {
                .middle { opacity: 1; }
            }
        }
    }
}
