.search-results,
.post-type-archive-portfolio,
.tag {
    .article-section {
        & > .post {
            padding-bottom: 1.8rem;

            &:not(.no-1) {
                padding-top: 1.8rem;
                border-top: 1px solid $border;
            }

            .post-body {
                .post-title {
                    margin-top: 0;
                }

                .text {
                    margin-bottom: 0.75rem;
                }

                .post-text {
                    margin-bottom: 0;
                }
            }

            .wp-post-image {
                @media only screen and (max-width: $sm) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
